#skills {
    color:black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.section-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.sills-ul {
    list-style: none;
    padding-left: 0;
}