.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 7%; /* Adjust the width as per your requirements */
    background-color: #0C0C14; /* Adjust the background color as per your design */
    overflow-y: auto; /* Enable scrolling if the content exceeds the height */
    display: flex;
    align-items:center;
  }

  .sidebar-li {
    margin-bottom: 20px;
    align-items: center;
    padding-bottom: 10px;
  }

  .sidebar-li a{
    color: #fff;
    font-size: 32px;
    font-weight: normal;
  }


  