.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%; /* Adjust the width as per your requirements */
    background-color: #0C0C14; /* Adjust the background color as per your design */
    overflow-y: auto; /* Enable scrolling if the content exceeds the height */
  }

  li {
    border-bottom: solid #17171a;
    margin-bottom: 20px;
    align-items: center;
    padding-bottom: 10px;
  }

  li a{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-left: 30px;
  }

  ul {
    list-style: none;
    padding-top: 70px;
  }
  